.LatestMovies-heading {
  margin-top: 15px;
}
.card {
  box-shadow: -6px 0 10px rgba(255, 255, 255, 0.3),
    6px 0 6px rgba(255, 255, 255, 0.3), 0 6px 10px rgba(255, 255, 255, 0.3),
    0 -6px 6px rgba(255, 255, 255, 0.3);
}
.moive-img {
  height: 450px;
  position: relative;
}
.adult-movie{
  position: absolute;
  color: white;
  width: 40px;
  height: 30px;
  font-size: 20px;
  font-weight: 900;
  right: 0;
  top: 0;
  text-align: center;
  background-color: red;
  /* border-radius: 50%; */
}
#alter-card-body {
  background-color: rgb(255, 255, 255);
}
#alter-card-title {
  height: 50px;
}
.carousel-inner {
  height: 290px;
}
.carousel-bnner-img {
  height: 440px;
  object-fit: cover;
}
/* .card-title{
    height: 50px;
} */
.FaStar-star{
 color: yellow;
 font-size: 20px;
 margin-bottom: 10px;
 margin-right: 3px;
}
.card-qus{
  font-size: 17.5px;
  font-weight: 600;
  
}
.book-btn{
  margin-top: 10px;
  /* color:rgb( 220 53 69); button colur */
  color: black;
}
.search-row,.LatestMovies-row {
  margin-bottom: 50px;
}


@media (min-width: 992px) {
  .LatestMovies-body {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .LatestMovies-body {
    margin-left: 25px;
    margin-right: 25px;
  }
}
