/* @import url("https://fonts.googleapis.com/css2?family=Archivo&family=Creepster&family=Foldit:wght@100;200&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;1,700&family=Open+Sans:wght@300;400&family=Shadows+Into+Light&display=swap"); */
.App {
  color: white;
}
.nav-div {
  background-color: white;
  /* color:rgb( 220 53 69); button colur */
  border-bottom: 3px solid rgb(130, 128, 128);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.my-logo {
  cursor: pointer;
}
.form-div {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.input-search {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.search-btn-nav {
  position: absolute;
  right: 0;
  background-color: black;
  height: 58px;
  width: 40px;
  padding: 5px;
  color: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-div input[type="text"] :focus {
  outline: none;
  border: 4px solid rgb(0, 0, 0);
}
.your-search-h1{
  margin-top: 20px;
}
/* -------------------laptop-------------- */
@media (min-width: 992px) {
  .nav-div {
    padding-left: 50px;
    padding-right: 85px;
  }
}
.my-logo {
  width: 150px;
  height: 70px;
}
.input-search {
  height: 58px;
  font-size: 22px;}
  .search-btn-nav {
    height: 58px;
    width: 40px;}


/* -------------mobile--------------------------- */
@media (max-width: 991px) {
  .nav-div {
 
    padding-right: 20px;
  }
  .my-logo {
    width: 90px;
    height: 60px;
  }
  .input-search {
    height: 50px;
    font-size: 19px;
    padding-left: 10px;
  }

    .search-btn-nav {
      height: 50px;
      width: 30px;}
}
